.header {
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-inner {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    font-size: 18px;
    padding: 8px 15px;
    cursor: pointer;
    color: #888;
    transition: 0.2s;
}

.menu-item:hover {
    color: #333;
}

.menu-item.active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}